{% extends "base.html.twig" %}
{% block styles %}
    <!-- Custom styles for this page -->
    <link href="{{ asset('../vendor/blackrockdigital/startbootstrap-sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet" type="text/css"/>
{% endblock styles %}
{% block body %}
  <div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">Listado de horarios</h1>
    {% for mensaje in app.session.flashbag().get('mensaje') %}
      {% for tipomensaje in app.session.flashbag().get('tipomensaje') %}
        <div class="alert alert-{{ tipomensaje }}">
          {{ mensaje }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    {% endfor %}
   
    
    <div class="card shadow mb-4">
      <div class="card-header py-2">
        <a href={{ path('horario_new') }} class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm">
          <i class="fas fa-plus fa-sm text-white-50"></i> Agregar
        </a>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Agenda</th>
                <th>Fecha</th>
                <th>Festivo</th>
                <th>Dia</th>
                <th>Hora inicio</th>
                <th>Hora fin</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for horario in horarios %}
                <tr>
                    <td>{{ horario.agenda.nombre }}</td>
                    {% if horario.fecha == null %}
                      <td>{{ horario.fecha }}</td>
                    {% else %}  
                      <td>{{ horario.fecha | date('Y-m-d') }}</td>
                    {% endif %}
                    {% if horario.festivo == 1 %}
                        <td><i class="fa fa-check fa-lg" style="color: green;"></i></td>
                    {% else %}
                        <td><i class="fa fa-close fa-lg" style="color: red;"></i></td>
                    {% endif %}
                    <td>{{ horario.dia }}</td>
                    {% if horario.horaInicio == null %}
                      <td>{{ horario.horaInicio }}</td>
                    {% else %}  
                      <td>{{ horario.horaInicio | date('H:i') }}</td>
                    {% endif %}
                    
                    {% if horario.horaFin == null %}
                      <td>{{ horario.horaFin }}</td>
                    {% else %}  
                      <td>{{ horario.horaFin | date('H:i') }}</td>
                    {% endif %}
                    <td>
                        <a href="{{path("horario_edit", {"id":horario.id})}}" class="blue" data-toggle="tooltip" data-placement="top" title="Editar">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a href="{{path("horario_delete", {"id":horario.id})}}" class="red" data-toggle="tooltip" data-placement="top" title="Eliminar">
                            <i class="fas fa-trash"></i>
                        </a>
                    </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}
{% block javascript %}
  <!-- Page level plugins -->
  <script src="{{ asset('../vendor/blackrockdigital/startbootstrap-sb-admin-2/vendor/datatables/jquery.dataTables.min.js') }}" type="text/javascript"></script>
  <script src="{{ asset('../vendor/blackrockdigital/startbootstrap-sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.js') }}" type="text/javascript"></script>
  <!-- Page level custom scripts -->
  <script src="{{ asset('../vendor/blackrockdigital/startbootstrap-sb-admin-2/js/demo/datatables-demo.js') }}" type="text/javascript"></script>
{% endblock javascript %}